.App {
  height: 110vh;
  color: #fff;
  background-color: #3a3b3c;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
