.App {
  height: 110vh;
  color: #fff;
  background-color: #3a3b3c;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 100%;
  background: linear-gradient(#1a0591, #0c0231);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 15px 20px 15px;
  text-align: center;
  background: linear-gradient(#121112, #200830);
  border: 1px solid #fff;
  border-radius: 60px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: #091270;
}

.item {
  display: inline-block;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.item.active {
  background-color: #096e70;
}

.money {
  background-color: #121112;
  display: flex;
  align-items: center;
  justify-content: center;
}

.money-list {
  padding: 25px;
  list-style: none;
  width: 100%;
}
